/* Hide the default page title since I have H1 headings in each page manually  */
.theme-light {
    /* --background-primary: #F1F8FF; */
    background-image: linear-gradient(to top, #E8F0F8, #F5FAFF );
}

a {
    color: #174066;
}

.page-header {
    display:none;
}

.site-header,
.published-container.has-navigation .site-header {
    background: #174066;
    color: #fff;
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem .5rem .5rem 3rem;
    margin-top:0;
    display:flex;
}

@media screen and (max-width: 750px) {
    .site-header,
    .published-container.has-navigation .site-header {
        padding: .5rem .5rem .5rem 1rem;
    }
}

.site-header-text {
    margin-left: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}

.site-header-logo {
    max-height: 45px;
} 

.site-body {
    justify-content: space-between;
}

.site-body-left-column,
.site-body-left-column:before {
    /* background-image: linear-gradient(to top, #092640, #174066); */
    background-image: linear-gradient(to top, #E8F0F8, #F5FAFF );
}

.site-body-left-column {
    width: 225px;
    flex: 0 0 225px;
    padding: 10px 0px;
    border-left: 1px solid var(--background-secondary-alt);
}

.site-body-left-column:before {
    display:none;
}

.published-container.has-navigation .site-body-left-column {
    display: flex;
    position: fixed;
    top: 0;
    left: auto;
    right: -250px;
    width: 250px;
    transition: right 200ms ease-in-out;
    z-index: var(--layer-sidedock);
}

.published-container.has-navigation.is-left-column-open .site-body-left-column {
    left: auto;
    right: 0; 
}

.published-container.has-navigation.is-left-column-open .nav-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-modifier-cover);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    z-index: -1;
    opacity: 1;
    z-index: 1;
}

.site-header .clickable-icon  {
    color: white;
    margin-right: 1rem;
    display:block;
    order:1;
    /* border: 1px solid #fff; */
    background: rgba(250, 250, 250, 0.2);
    border-radius: .25rem;
    padding: .125rem .5rem;
}

.site-header .clickable-icon:after {
    content: "Contents";
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: .5rem;
    position: relative;
    bottom: 1px;
}

.site-header .clickable-icon svg {
    /* width: 25px;
    height:25px; */
}

.site-body-left-column .tree-item-children {
    margin-left: 20px;
    margin-right: 20px;
    display:flex;
    flex-direction: column;
}

.site-body-left-column .nav-tree .item-tree > .tree-item-children:first-of-type {
    margin-left: 20px;
    margin-right: 20px;
}

.site-body-left-column-site-logo {
    width: 75px;
    margin-top: 1rem;
    display:none;
}

.site-body-left-column-site-name {
    text-transform: uppercase;
    align-self: center;
    padding: 10px 0px;
    font-size: 25px;
    margin-bottom: 1.75rem;
    display:none;
}


/* Home */
.site-body-left-column .tree-item:nth-of-type(5) {
    order: -6; 
}

/* About */
.site-body-left-column .tree-item:nth-of-type(2) {
    order: -5; 
}

/* Now */
.site-body-left-column .tree-item:nth-of-type(6) {
    order: -4; 
}

/* Portfolio */
.site-body-left-column .tree-item:nth-of-type(7) {
    order: -3; 
}

/* Notes */
.site-body-left-column .tree-item:nth-of-type(1) {
    order: -2; 
    position:relative;
}

/* Changelog */
.site-body-left-column .tree-item:nth-of-type(3) {
    order: -1; 
}

/* Contact */
.site-body-left-column .tree-item:nth-of-type(4) {
    order: 0; 
}

.site-body-left-column .tree-item-self {
    color: #174066;
    text-transform: uppercase;
    padding: 2px 6px 2px 6px;
    margin-right: 5px;
}

.site-body-center-column {
    /* flex: auto 0 0; */
    margin-top: 4.5rem;
}

.sliding-windows .publish-renderer {
    background-image: linear-gradient(to top, #E8F0F8, #F5FAFF );
}


.site-body-right-column {
    margin: 4.5rem 0 0 0;
    padding: 0 1rem 1rem 1rem;
    border-left: 1px solid var(--background-secondary-alt);
    background-image: linear-gradient(to top, #E8F0F8, #F5FAFF );
}

.published-section-header {
    color: #222;
}


.markdown-preview-view .internal-link.is-unresolved:after {
    content: " (unpublished)"
}


.Home .markdown-preview-section {
    padding-left:1rem;
}

@media screen and (max-width: 750px) {
    .Home .markdown-preview-section   {
        text-align: center;
    }
}

.Home h1 {
    display:none;
}

.Home .tagline {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 5.5rem 0 4rem 0;
    color: #174066;
    letter-spacing: -1px;
}

.Home .tagline span {
    color:#71a6d9; 
}

@media screen and (max-width: 750px) {
    .Home .tagline  {
        line-height: 1.2;
        font-size: 2.2rem;
        padding-right:1.5rem;
    }
}

.Home a.internal-link {
    /* box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
    background-color: #174066;
    color: #fff; */
    border-radius: .25rem; 
    padding: .5rem .75rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: .5rem;
    /* border: 3px solid #71a6d9; */
    color: #fff;
    box-shadow: rgb(0 0 0 / 25%) 0px 6px 5px -5px;
    background: #174066;
    display: inline-block;
    margin-bottom: .75rem;
}

.Home a[data-href="About this Site"],
.Home a[data-href="Contact"] {
    background: none;
    color: #174066;
    text-decoration:underline;
    box-shadow: none;
    text-transform: none;
    padding:0;
    margin:0;
}

.home-box {
    margin: 4rem 0 1rem 0;
}

@media screen and (max-width: 750px) {
    .home-box  {
        line-height: 1.2;
    }
}

.nav-view-outer {
    overflow:visible;
}

.nav-view-outer .tree-item-self.mod-active {
    background-color: #71a6d9;
    font-weight: 600;
    color: #000;
}

.search-view-outer {
    width:200px;
    order:1;
}

.site-body-left-column .search-bar {
    border: 1px solid #71a6d9;
    /* background-color: #174066;
    color: #eee; */
}

.markdown-embed h1.publish-article-heading {
    display:none;
}