/* === Custom Obsidian Publish CSS - Tim Lindgren === */

a {
    color: #174066;
}

.markdown-preview-view .internal-link.is-unresolved:after {
    content: " (unpublished)"
}


.page-header {
    display:none;
}

.site-header,
.published-container.has-navigation .site-header {
    background: #174066;
    color: #fff;
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem .5rem 2rem;
    margin-top:0;
    display:flex;
}

@media screen and (max-width: 750px) {
    .site-header,
    .published-container.has-navigation .site-header {
        padding: .5rem .5rem .5rem 1rem;
    }
}

@media screen and (max-width: 800px) {
    .site-header nav {
        display:none;
    }
}


.site-header nav a {
    font-size: 16px; 
    text-transform: uppercase;
    color: #fff;
    margin-right: 1rem;
    text-decoration: none
}



.site-header-text {
    margin-left: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}

@media screen and (max-width: 550px) {
    .site-header-text {
        font-size: 22px;
    }

    .site-header-logo {
        max-height: 36px;
    } 
}

@media screen and (max-width: 400px) {
    .site-header-text {
        font-size: 18px;
    }

    .site-header-logo {
        max-height: 32px;
    } 
}

.site-header-logo {
    max-height: 45px;
} 

.published-container.is-readable-line-width .site-body {
    max-width: 1075;
    margin: auto;
}

/* === Left Column ===  */

.site-header .clickable-icon  {
    color: white;
    margin-right: 1rem;
    order:1;
    /* border: 1px solid #fff; */
    background: rgba(250, 250, 250, 0.2);
    border-radius: .25rem;
    padding: .125rem .5rem;
}

.site-header .clickable-icon:after {
    content: "Menu";
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: .5rem;
    position: relative;
    bottom: 1px;
}


/* === Center Column ===  */

.published-container.is-readable-line-width .site-body-center-column {
    margin-top: 4.5rem;
    padding-bottom: 4.5rem;
    min-width: 740px;
    animation: fadeIn linear .5s;
    -webkit-animation: fadeIn linear .5s;
    -moz-animation: fadeIn linear .5s;
    -o-animation: fadeIn linear .5s;
    -ms-animation: fadeIn linear .5s;
}

@media screen and (max-width: 1050px) {
    .published-container.is-readable-line-width .site-body-center-column {
        min-width:500px;
        width:100%;
    }
}

@media screen and (max-width: 800px) {
    .published-container.is-readable-line-width .site-body-center-column {
        min-width:0;
        width:100%;
    }
}

@media screen and (max-width: 750px) {
.published-container .markdown-preview-view {
        padding: 1.5rem;
    }
}

/* Main Note Title */
.markdown-preview-view h1 {
    font-size: 2.5em;
    margin: 1rem 0 1.5rem 0;
    line-height: 1;
}

.markdown-preview-view h2 {
    line-height: 1.2;
}

/* Backlinks Box */

.backlinks {
    background: #E8F0F8;
}

.backlinks .published-section-header {
    color: #222;
}

/* === Right Column ===  */

.site-body-right-column {
    width: 330px;
    flex: 0 0 330px;
    margin: 4.5rem 0 0 0;
    padding: 0 1rem 1rem 1rem;
    /* border-left: 1px solid var(--background-secondary-alt);
    background-image: linear-gradient(to top, #E8F0F8, #F5FAFF );*/
} 

.published-section-header-icon + span:before {
    content:"Page ";
}

.graph-view-outer {
    margin: 1rem 1rem 0 0;
}

/* === Home Page ===  */

.Home .markdown-preview-section {
    padding-left:1rem;
    text-align: center;
}

.Home h1 {
    display:none;
}

.Home .tagline {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 5.5rem 0 4rem 0;
    color: #174066;
    letter-spacing: -1px;
}

.Home .tagline span {
    color:#71a6d9; 
}

@media screen and (max-width: 750px) {
    .Home .tagline  {
        line-height: 1.2;
        font-size: 2.2rem;
        padding-right:1.5rem;
    }
}

.Home a.internal-link {
    border-radius: .25rem; 
    padding: .5rem .75rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: .5rem;
    /* border: 3px solid #71a6d9; */
    color: #fff;
    box-shadow: rgb(0 0 0 / 25%) 0px 6px 5px -5px;
    background: #174066;
    display: inline-block;
    margin-bottom: .75rem;
}

.Home a[data-href="About this Site"],
.Home a[data-href="Contact"] {
    background: none;
    color: #174066;
    text-decoration:underline;
    box-shadow: none;
    text-transform: none;
    padding:0;
    margin:0;
}

.home-box {
    margin: 4rem 0 1rem 0;
}

@media screen and (max-width: 750px) {
    .home-box  {
        line-height: 1.2;
    }
}

.nav-view-outer {
    overflow:visible;
}

.nav-view-outer .tree-item-self.mod-active {
    background-color: #71a6d9;
    font-weight: 600;
    color: #000;
}

.site-header .search-view-outer {
    width:225px;
}

.search-view-outer {
    margin-left: -10px;
}

.site-body-left-column .search-bar {
    border: 1px solid #71a6d9;
    /* background-color: #174066;
    color: #eee; */
}

.markdown-embed h1.publish-article-heading {
    display:none;
}

/* Changelog */

.changelog .markdown-embed-title {
    text-align: left;
}

.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
    border: 1px solid var(--background-modifier-border);
    padding: .5rem 1rem;
    margin: 28px 0;
    border-radius: .25rem;
}

.markdown-embed .markdown-preview-view { /* body */
    padding: 0; 
}

.markdown-embed-link:after {
    content:"Open Note"; 
    font-size: 14px;
    position: relative;
    bottom: 4px;
    left: 5px;
    text-decoration:underline;
}

/* Contact form */

.contact form {
    margin:1rem 0 1rem 0;
   }

.contact form div {
 display:flex;
 flex-direction:column;
}

.contact label {
    width: 150px;
    font-weight:bold;
}

.contact .email-field {
    margin-bottom: 1rem;
}

.contact input, .contact textarea  {
    width:100%;
    max-width: 400px;
    border: 1px solid #616161;
}

.contact button {
    background: #174066;
    color: #fff;
    margin-top: .5rem;
}

/* About  */

.about img {
    float: left; 
    margin: 0 1rem .5rem 0rem; 
    border-radius: .25rem;   
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 100% !important; 
    max-width: 200px !important; 
    height: 100%;
}

@media screen and (max-width: 600px) {
    .about img {
        max-width: 150px !important; 
        margin: 0 1rem .25rem 0rem
    }
}

.fade-in-text {
    animation: fadeIn linear .5s;
    -webkit-animation: fadeIn linear .5s;
    -moz-animation: fadeIn linear .5s;
    -o-animation: fadeIn linear .5s;
    -ms-animation: fadeIn linear .5s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }