/* Some styles for simulating a WYSIWYG Editor view until this feature is added to Obsidian */

.CodeMirror-line span.cm-formatting-list-ul {
    color: transparent;
    position: relative;
    }

.CodeMirror-line span.cm-formatting-list-ul:after {
    content: "•";
    position: absolute;
    top: -6px;
    left: 4px;
    color: var(--text-accent);
    font-family: sans-serif;
    font-size: 20px;
    }


/* https://forum.obsidian.md/t/hide-or-truncate-urls-in-editor-using-css/359/2 */

div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting) {
  font-size: 0;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting)::after {
  content: '🔗';
  font-size: 1rem;
  padding:0 5px 0px 3px;
}

/* https://forum.obsidian.md/t/font-is-thinner-in-editor-mode-than-in-preview-mode-how-do-i-change-that/6533/5*/
.cm-s-obsidian .CodeMirror-line * {
  -webkit-font-smoothing: auto;
}

/* Remove markdown clutter */
/* https://gist.github.com/pihentagy/e8d7258ee7087a14d405cc7ef5ecd912 */
/* inline formatting, link targets and [[ ]] disappears if not active line*/
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting, */
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-string.cm-url, */
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link, */
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-header,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link.cm-header,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hmd-barelink,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-comment
{ display: none; }

.CodeMirror-line span.cm-link {
  border-bottom: 1px dotted #ccc
}


/* hide all html tags -- IT IS COMMENTED OUT BY DEFAULT */
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag{ display: none; } */

/* except list markers */ span.cm-formatting-list,
/* code block backticks */ span.cm-formatting-code-block.cm-hmd-codeblock,
/* tag hashes */ .cm-formatting-hashtag 
/* optionally header hashes  span.cm-formatting-header*/
{ display: inline !important; }

/* and task checkboxes */
span.cm-formatting-task { display: inline !important; font-family: monospace; }

/* Preview links */

.internal-link {
  text-decoration: none;
}

.markdown-preview-view blockquote {
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--background-modifier-border);
  border-left-width: 5px;
  padding: 10px 20px;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}