.CodeMirror-guttermarker-subtle {
  color: transparent;
}

.CodeMirror-gutter-elt:hover .CodeMirror-guttermarker-subtle {
  color: var(--text-faint);
}

.CodeMirror-gutter-elt .CodeMirror-foldgutter-folded.CodeMirror-guttermarker-subtle {
  color:  rgb(203, 77, 73);
  font-size:24;
}

.CodeMirror-line span.cm-formatting-list-ul {
    color: transparent;
    position: relative;
    }

.CodeMirror-line span.cm-formatting-list-ul:after {
    content: "•";
    position: absolute;
    top: -6px;
    left: 4px;
    color: rgb(203, 77, 73);
    font-family: sans-serif;
    font-size: 20px;
    }
/*   
  .cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
  .cm-hmd-list-indent .cm-tab::before, ul ul::before {
   content:'';
   border-left: 1px solid rgba(0, 122, 255, 0.25);
   position: absolute;
  }
  .cm-hmd-list-indent .cm-tab::before { left: 0; top: -5px; bottom: -4px; 
  }
  ul ul::before { left: -11px; top: 0; bottom: 0; 
  }  */


  /* https://forum.obsidian.md/t/hide-or-truncate-urls-in-editor-using-css/359/2 */

div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting) {
  font-size: 0;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting)::after {
  content: '🔗';
  font-size: 1rem;
  padding:0 5px 0px 3px;
}

/* https://forum.obsidian.md/t/font-is-thinner-in-editor-mode-than-in-preview-mode-how-do-i-change-that/6533/5*/
.cm-s-obsidian .CodeMirror-line * {
  -webkit-font-smoothing: auto;
}

/* Remove markdown clutter */
/* https://gist.github.com/pihentagy/e8d7258ee7087a14d405cc7ef5ecd912 */
/* inline formatting, link targets and [[ ]] disappears if not active line*/
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting, */
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-string.cm-url, */
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link, */
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-header,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link.cm-header,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hmd-barelink,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-comment
{ display: none; }

.CodeMirror-line span.cm-link {
  border-bottom: 1px dotted #ccc
}

.cm-s-obsidian span.cm-hmd-internal-link {
 
}



/* hide all html tags -- IT IS COMMENTED OUT BY DEFAULT */
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag{ display: none; } */

/* except list markers */ span.cm-formatting-list,
/* code block backticks */ span.cm-formatting-code-block.cm-hmd-codeblock,
/* tag hashes */ .cm-formatting-hashtag 
/* optionally header hashes  span.cm-formatting-header*/
{ display: inline !important; }

/* and task checkboxes */
span.cm-formatting-task { display: inline !important; font-family: monospace; }

/* Preview links */

.internal-link {
  text-decoration: none;
}



div:not(.CodeMirror-activeline).HyperMD-quote {
  
} 

.markdown-preview-view blockquote {
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--background-modifier-border);
  border-left-width: 5px;
  padding: 10px 20px;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}